This is the begining of a notebook that will contain the Studio vs Profit analysis. 

Below we import and read the csv using pandas. We use df.head(20) to view the top 20 rows of the dataset.

In [1]:
import pandas as pd
df = pd.read_csv('bom.movie_gross.csv')
df.head(20)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010
10,Clash of the Titans (2010),WB,163200000.0,330000000,2010
11,The Chronicles of Narnia: The Voyage of the Da...,Fox,104400000.0,311300000,2010
12,The King's Speech,Wein.,135500000.0,275400000,2010
13,Tron Legacy,BV,172100000.0,228000000,2010
14,The Karate Kid,Sony,176600000.0,182500000,2010
15,Prince of Persia: The Sands of Time,BV,90800000.0,245600000,2010
16,Black Swan,FoxS,107000000.0,222400000,2010
17,Megamind,P/DW,148400000.0,173500000,2010
18,Robin Hood,Uni.,105300000.0,216400000,2010
19,The Last Airbender,Par.,131800000.0,187900000,2010

We view more details about the DataFrame including the datatype and number of entries per column.

df.info()

See a summary of the NaNs in each column. I see that foreign_gross has an obscene number of NaNs so I'm just going to remove it (rip) making sure I set inplace=True so that the change sticks.

In [2]:
df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [3]:
df.drop(['foreign_gross'], axis=1, inplace=True)

Viewing my dataset again to make sure my changes were made.

In [4]:
df.head()

                                         title studio  domestic_gross  year
0                                  Toy Story 3     BV     415000000.0  2010
1                   Alice in Wonderland (2010)     BV     334200000.0  2010
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0  2010
3                                    Inception     WB     292600000.0  2010
4                          Shrek Forever After   P/DW     238700000.0  2010

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 4 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 106.0+ KB

In [10]:
# we need to convert the year column to a string so we can then convert it to a datetime object
df.year = df.year.astype('str')

In [11]:
# check that it worked
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 4 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
year              3387 non-null object
dtypes: float64(1), object(3)
memory usage: 106.0+ KB

We have chosen to limit the dataset to 5 years so we need to convert year to a datetime object and then eliminate all years < 2013.

In [12]:
# convert to datetime 
df['year'] =  pd.to_datetime(df['year'], infer_datetime_format=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 4 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
year              3387 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 106.0+ KB

In [14]:
df.head(-20)

,title,studio,domestic_gross,year
0,Toy Story 3,BV,415000000.0,2010-01-01
1,Alice in Wonderland (2010),BV,334200000.0,2010-01-01
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,2010-01-01
3,Inception,WB,292600000.0,2010-01-01
4,Shrek Forever After,P/DW,238700000.0,2010-01-01
...,...,...,...,...
3362,Oolong Courtyard,CL,37700.0,2018-01-01
3363,Girls vs Gangsters,WGUSA,37100.0,2018-01-01
3364,"No Date, No Signature",Distrib.,36400.0,2018-01-01
3365,The Apparition (2018),MBox,28300.0,2018-01-01
3366,The Charmer,FM,26200.0,2018-01-01

In [21]:
# filter out values with values before 01-01-13 and after 12-31-18
# drop values before 01-01-13 and after 12-31-18
df = df[(df['year'].dt.year >= 2013)]
df.head(-20)

                                    title    studio  domestic_gross       year
1127                               Frozen        BV     400700000.0 2013-01-01
1128                           Iron Man 3        BV     409000000.0 2013-01-01
1129                      Despicable Me 2      Uni.     368100000.0 2013-01-01
1130  The Hobbit: The Desolation of Smaug   WB (NL)     258399999.0 2013-01-01
1131      The Hunger Games: Catching Fire       LGF     424700000.0 2013-01-01
...                                   ...       ...             ...        ...
3362                     Oolong Courtyard        CL         37700.0 2018-01-01
3363                   Girls vs Gangsters     WGUSA         37100.0 2018-01-01
3364                No Date, No Signature  Distrib.         36400.0 2018-01-01
3365                The Apparition (2018)      MBox         28300.0 2018-01-01
3366                          The Charmer        FM         26200.0 2018-01-01

[2240 rows x 4 columns]

We need to strip the commas from the titles or it will break.

In [40]:
df.isna().sum()

title              0
studio             2
domestic_gross    14
year               0
dtype: int64

In [41]:
df.dropna(inplace=True)

In [42]:
df.isna().sum()

title             0
studio            0
domestic_gross    0
year              0
dtype: int64

In [44]:
df.head(20)

                                    title   studio  domestic_gross       year
1127                               Frozen       BV     400700000.0 2013-01-01
1128                           Iron Man 3       BV     409000000.0 2013-01-01
1129                      Despicable Me 2     Uni.     368100000.0 2013-01-01
1130  The Hobbit: The Desolation of Smaug  WB (NL)     258399999.0 2013-01-01
1131      The Hunger Games: Catching Fire      LGF     424700000.0 2013-01-01
1132                     Fast & Furious 6     Uni.     238700000.0 2013-01-01
1133                  Monsters University       BV     268500000.0 2013-01-01
1134                              Gravity       WB     274100000.0 2013-01-01
1135                         Man of Steel       WB     291000000.0 2013-01-01
1136                 Thor: The Dark World       BV     206400000.0 2013-01-01
1137                           The Croods      Fox     187200000.0 2013-01-01
1138                          World War Z     Par.     202400000.0 2013-01-01
1139            Oz The Great and Powerful       BV     234900000.0 2013-01-01
1140              Star Trek Into Darkness     Par.     228800000.0 2013-01-01
1141                        The Wolverine      Fox     132600000.0 2013-01-01
1142                          Pacific Rim       WB     101800000.0 2013-01-01
1143              The Wolf of Wall Street     Par.     116900000.0 2013-01-01
1144                G.I. Joe: Retaliation     Par.     122500000.0 2013-01-01
1145                The Hangover Part III       WB     112200000.0 2013-01-01
1146              The Great Gatsby (2013)       WB     144800000.0 2013-01-01